<template>
<section>
	<form @submit.prevent="">
		<div class="file-form">
			<label>Choose a GraphMDL json file
				<help-tooltip>GraphMDL produces a JSON file that<br/> can be directly uploaded here.</help-tooltip>
			</label>
			<input v-if="files.graphMDL.usesExampleFile()" type="text" readonly :value="files.graphMDL.exampleFileName"
				   :class="{'is-valid': files.graphMDL.status === UploadStatus.SUCCESS, 'is-invalid': files.graphMDL.status === UploadStatus.ERROR}"
			>
			<input v-else type="file" @change="onFileSelected(files.graphMDL, $event)"
				   :class="{'is-valid': files.graphMDL.status === UploadStatus.SUCCESS, 'is-invalid': files.graphMDL.status === UploadStatus.ERROR}"
			>
		</div>
		<div class="file-form">
			<label>
				Optional: data subsets file
				<help-tooltip>
					Visualising the whole data at once can be too complex for analysis.<br/>
					This file allows to specify some data subsets to visualize.
				</help-tooltip>
			</label>
			<input v-if="files.subsets.usesExampleFile()" type="text" readonly :value="files.subsets.exampleFileName"
				   :class="{'is-valid': files.subsets.status === UploadStatus.SUCCESS, 'is-invalid': files.subsets.status === UploadStatus.ERROR}"
			>
			<input v-else type="file" @change="onFileSelected(files.subsets, $event)"
				   :class="{'is-valid': files.subsets.status === UploadStatus.SUCCESS, 'is-invalid': files.subsets.status === UploadStatus.ERROR}"
		   >
		</div>
		<div class="file-form">
			<label>
				Optional: graph visualization colors
				<help-tooltip>
					Colors of vertices and edges used in the graph visualizations.<br/>
					Created by the "export colors" button under those visualizations.
				</help-tooltip>
			</label>
			<input v-if="files.graphLabelColors.usesExampleFile()" type="text" readonly :value="files.graphLabelColors.exampleFileName"
				   :class="{'is-valid': files.graphLabelColors.status === UploadStatus.SUCCESS, 'is-invalid': files.graphLabelColors.status === UploadStatus.ERROR}"
		   >
			<input v-else type="file" @change="onFileSelected(files.graphLabelColors, $event)"
				   :class="{'is-valid': files.graphLabelColors.status === UploadStatus.SUCCESS, 'is-invalid': files.graphLabelColors.status === UploadStatus.ERROR}"
			>
		</div>
		<button type="reset" @click="resetFields">Reset fields</button>
		<button type="submit" :disabled="uploading || !someFileIsSet" @click="loadFiles" title="Ctrl+click to force upload of all files">Upload</button>
		<div id="load-progress" v-if="uploading"><span class="visually-hidden">Loading file...</span></div>
	</form>
	<div id="example-files">
		<h1 @click="examplesVisible.examples = !examplesVisible.examples">Example files (click here to {{examplesVisible.examples ? "hide" : "show"}})</h1>
		<table v-if="examplesVisible.examples">
			<tr>
				<td>Example GraphMDL JSON file</td>
				<td><zipped-example-file file-path="/ExampleFiles/example_graph-GraphMDL.json.zip" @load="onExampleFileLoad(files.graphMDL, 'GraphMDL JSON Example', $event)" @error="onExampleFileError"></zipped-example-file></td>
			</tr>
			<tr>
				<td>Example data subsets file</td>
				<td><zipped-example-file file-path="/ExampleFiles/example_data_subsets.json.zip" @load="onExampleFileLoad(files.subsets, 'Example data subsets', $event)" @error="onExampleFileError"></zipped-example-file></td>
			</tr>
			<tr>
				<td>Example colors file</td>
				<td><zipped-example-file file-path="/ExampleFiles/example_colors.json.zip" @load="onExampleFileLoad(files.graphLabelColors, 'Example colors', $event)" @error="onExampleFileError"></zipped-example-file></td>
			</tr>
		</table>
	</div>
	<div id="experimental-evaluation">
		<h1 @click="examplesVisible.expEval = !examplesVisible.expEval">Experimental evaluations results (click here to {{examplesVisible.expEval ? "hide" : "show"}})</h1>
		<div v-if="examplesVisible.expEval">
			<p>
				The following files were used for the experimental evaluation of our MDL-based graph pattern mining approaches.<br/>
				After selecting a file, click on the Upload button above to confirm.
			</p>

			<h2>The KG-MDL approach for mining knowledge graphs.</h2>
			<p>
				KG-MDL works on multigraphs (such as knowledge graphs).<br/>
				It takes an additional "cover timeout" parameter to limit the time spent on computing the embeddings of a single pattern.<br/>
				The following experiments were given a maximum runtime of 8h.
			</p>
			<table>
				<tbody v-for="dataset in expEvalFileList.kgMDL" :key="dataset.datasetName">
					<tr><td colspan="2" class="header">On the <a :href="dataset.datasetURL">{{dataset.datasetName}}</a> dataset</td></tr>
					<tr v-for="experiment in dataset.experiments" :key="experiment.path">
						<td>{{experiment.desc}}</td>
						<td><zipped-example-file :file-path="experiment.path" @load="onExampleFileLoad(files.graphMDL, experiment.shortName, $event)" @error="onExampleFileError"></zipped-example-file></td>
					</tr>
				</tbody>
			</table>

			<h2>The GraphMDL+ approach. Published at <a href="https://doi.org/10.1145/3412841.3441917">SAC2021</a>.</h2>
			<p>
				The same datasets of the GraphMDL experiments (below) were used.<br/>
				GraphMDL+ does not require any parameters other than the data.
			</p>
			<table>
				<tr v-for="f in expEvalFileList.graphMDLPlus" :key="f.path">
					<td>{{f.desc}}</td>
					<td><zipped-example-file :file-path="f.path" @load="onExampleFileLoad(files.graphMDL, f.shortName, $event)" @error="onExampleFileError"></zipped-example-file></td>
				</tr>
			</table>

			<h2>The GraphMDL approach. Published at <a href="https://doi.org/10.1007/978-3-030-44584-3_5">IDA2020</a> and <a href="https://editions-rnti.fr/?inprocid=1002560">EGC2020</a>.</h2>
			<p>
				Candidate patterns have been extracted using <a href="https://sites.cs.ucsb.edu/~xyan/software/gSpan.htm">gSpan</a> with various values of support.
			</p>
			<table>
				<tbody v-for="dataset in expEvalFileList.graphMDL" :key="dataset.datasetName">
					<tr><td colspan="2" class="header">On the <a :href="dataset.datasetURL">{{dataset.datasetName}}</a> dataset.</td></tr>
					<tr v-for="subset in dataset.subsets" :key="subset.path">
						<td>{{subset.desc}}</td>
						<td><zipped-example-file :file-path="subset.path" @load="onExampleFileLoad(files.subsets, subset.shortName, $event)" @error="onExampleFileError"></zipped-example-file></td>
					</tr>
					<tr v-for="experiment in dataset.experiments" :key="experiment.path">
						<td>{{experiment.desc}}</td>
						<td><zipped-example-file :file-path="experiment.path" @load="onExampleFileLoad(files.graphMDL, experiment.shortName, $event)" @error="onExampleFileError"></zipped-example-file></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<message-component ref="messageComponent"></message-component>
</section>
</template>

<script>
import MessageComponent from "@/components/MessageComponent.vue"
import HelpTooltip from "@/components/HelpTooltip/HelpTooltip.vue"
import ZippedExampleFile from "@/components/FileUploader/ZippedExampleFile.vue"
import GeneralUtils from "@/GeneralUtils"
import ExpEvalFileList from "@/components/FileUploader/ExpEvalFileList"

// Represents if a file has been successfully uploaded or not
const UploadStatus = Object.freeze({
	NOT_UPLOADED: 1, // We did not try to upload the file yet
	SUCCESS: 2, // The upload was successful
	ERROR: 3, // The upload was not successful
})

let FileInformation = function () {
	this.fileBlob = null
	this.changed = false
	this.uploading = false
	this.status = UploadStatus.NOT_UPLOADED
	// Allow using example content
	this.exampleFileName = null // The display name of the example file
	this.exampleFileContent = null // The content of the example file
	this.usesExampleFile = function() {
		return this.exampleFileName && this.exampleFileContent
	}
}

export default {
	name: "FileUploader",
	components: {ZippedExampleFile, HelpTooltip, MessageComponent},
	data() {
		return {
			files: {
				graphMDL: new FileInformation(), // GraphMDL json output file
				subsets: new FileInformation(), // Rewritten graph data subsets file
				graphLabelColors: new FileInformation(), // Vertex/Edge label colors to use in graph visualizations
			},
			examplesVisible: {
				examples: true,
				expEval: false,
			},
			UploadStatus: UploadStatus, // So that the HTML template has access to the enum
			expEvalFileList: ExpEvalFileList, // So that HTML template has access to it
		}
	},
	computed: {
		uploading: function () { // Is any of the files uploading?
			return Object.values(this.files)
				.map(f => f.uploading)
				.some(Boolean)
		},
		someFileIsSet: function () {
			return Object.values(this.files)
				.some(fileInfo => fileInfo.fileBlob || fileInfo.exampleFileContent)
		},
	},
	methods: {
		/**
		 * To be called when the user selected a file in one of the file inputs
		 */
		onFileSelected: function (fileInfo, evt) {
			fileInfo.fileBlob = evt.target.files[0]
			fileInfo.changed = true
			fileInfo.status = UploadStatus.NOT_UPLOADED
		},
		onExampleFileLoad: function (fileInfo, name, fileContent) {
			Object.assign(fileInfo, new FileInformation()) // Resetting all fields
			fileInfo.exampleFileName = name
			fileInfo.exampleFileContent = fileContent
			fileInfo.changed = true
		},
		onExampleFileError: function (error) {
			// We show a generic message to the user and a detailed message to the developer console
			this.$refs.messageComponent.error("Error during selection of example file")
			// eslint-disable-next-line no-console
			console.error(`"Error during selection of example file: ${error.message}`)
		},
		resetFields: function () {
			this.$refs.messageComponent.clear()
			Object.keys(this.files).forEach(fileKey => this.files[fileKey] = new FileInformation())
			this.$emit("graphmdl-file-upload", null)
			this.$emit("subsets-file-upload", null)
			this.$emit("colors-file-upload", null)
		},
		loadFiles: function (event) {
			this.$refs.messageComponent.clear()

			// On ctrl+click, we force upload of all files
			if (event.ctrlKey)
				Object.values(this.files)
					.filter(f => f.fileBlob || f.usesExampleFile()) // Only of files that are set to some value
					.forEach(f => f.changed = true)

			if (this.files.graphMDL.changed)
				this.loadFile(this.files.graphMDL, "graphmdl-file-upload", "GraphMDL file")

			if (this.files.subsets.changed)
				this.loadFile(this.files.subsets, "subsets-file-upload", "Data subsets file")

			if (this.files.graphLabelColors.changed)
				this.loadFile(this.files.graphLabelColors, "colors-file-upload", "Colors file")
		},
		loadFile: function (fileInfo, uploadEventName, fileDisplayName) {
			fileInfo.uploading = true

			// Getting the content of the file
			let fileContentPromise
			if (fileInfo.exampleFileContent) { // If the file is an example file, we already have the content
				fileContentPromise = Promise.resolve(fileInfo.exampleFileContent)
			} else { // Otherwise we need to upload it
				fileContentPromise = GeneralUtils.uploadFileAsText(fileInfo.fileBlob)
			}

			// Parsing the json to obtain the final result
			fileContentPromise
				.finally(() => fileInfo.uploading = false)
				.then(fileContent => this.parseJSONFromText(fileContent))
				.then(json => {
					fileInfo.status = UploadStatus.SUCCESS
					fileInfo.changed = false
					this.$emit(uploadEventName, json)
				})
				.catch(err => {
					fileInfo.status = UploadStatus.ERROR
					this.$refs.messageComponent.error(`Error during upload of ${fileDisplayName}: ${err.message}`)
				})
		},
		parseJSONFromText: function (text) {
			return new Promise((resolve, reject) => {
				try {
					resolve(JSON.parse(text))
				} catch (e) {
					reject(new Error(`JSON error: ${e}`))
				}
			})
		},
	},
}
</script>

<style scoped lang="scss">
@import "bootstrap/scss/bootstrap";

section{
	@extend .border;
	@extend .border-primary;
	@extend .rounded;
	padding: 0.4em 0;

}

form {
	@extend .container;
	text-align: center;
	padding-top: 0.2em;

	.file-form {
		@extend .row;
		margin-bottom: 0.5em;

		label {
			@extend .col-md-6;
			@extend .col-form-label;

			@include media-breakpoint-up(md) {
				text-align: right;
			}
		}

		input {
			@extend .form-control;
			width: 50%; // .form-control overrides width

			@include media-breakpoint-down(md) {
				width: 100%;
			}

			&[readonly] {
				@extend .form-control-plaintext;
				text-overflow: ellipsis;
				width: 50%; //.form-control-plaintext overrides width

				@include media-breakpoint-down(md) {
					width: 100%;
					text-align: center;
				}
			}
		}
	}

	button {
		@extend .btn;
		width: auto;
		margin: 0.5em 0.5em 0;

		&[type=submit] {
			@extend .btn-primary;
		}

		&[type=reset] {
			@extend .btn-outline-dark;
		}

		&:disabled {
			cursor: not-allowed;
		}
	}

	#load-progress {
		@extend .spinner-border;
		margin-left: 0.5em;
		vertical-align: middle;
	}
}

#experimental-evaluation, #example-files {
	text-align: center;

	h1 {
		@extend .h3;
		margin: 1em 0;
	}

	h2 {
		@extend .h5;
		margin-top: 2em;
		font-weight: bold;
	}

	p {
		max-width: 50%;
		margin: 0 auto 1em;
	}

	table {
		width: auto;
		margin: 0 auto 2em;

		td.header{
			text-align: center;
			font-weight: bold;
		}

		tr:not(:first-child) td.header{
			padding-top: 1.5em;
		}

		td:first-child:not(.header) {
			text-align: left;
		}
	}
}

</style>
