<template>
<span>
	<a @click.prevent="onUseFileClick" href="#">Use this file</a> <!-- We add a href so that it has the correct style for a link -->
	<!-- Download is simply handled by a standard browser link -->
	<a :href="filePath" type="application/zip">Download this file</a>
	<span class="loading-spinner" v-if="uploading"></span>
</span>
</template>

<script>
import JSZip from "jszip"

/**
 * Two buttons, that allow the user to download and example file, or use it directly in {@link FileUploader}.
 * The file must be stored in a zip file, that contains a single file which has the name of the zip, minus the zip extension.
 * E.g. myExample.json is stored in /folder/myExample.json.zip
 *
 * If the user chooses to use the example file, either a "load" event with the file content as payload or an "error" event with the error message as payload is emitted.
 */
export default {
	name: "ZippedExampleFile",
	props: {
		filePath: {
			type: String,
			required: true,
		},
	},
	data() {
		return {
			uploading: false,
		}
	},
	computed: {
		fileNameInZip: function () {
			const nameWithoutZipExtension = this.filePath.substring(0, this.filePath.length - 4) // Removing the ".zip"
			return nameWithoutZipExtension.substring(nameWithoutZipExtension.lastIndexOf("/") + 1) // Leaving only the content after the last slash
		},
	},
	methods: {
		onUseFileClick: function () {
			this.uploading = true
			this.fetchZipBlob() // Getting the zip (returns a promise)
				.then(zipBlob => JSZip.loadAsync(zipBlob)) // Parsing the zip (returns a promise)
				.then(zip => {
					const fileInZip = zip.file(this.fileNameInZip)
					if (fileInZip === null)
						throw new Error(`Impossible to find file ${this.fileNameInZip} in loaded zip file`)
					return fileInZip.async("string")  // Extracting the file (returns a promise)
				})
				.then(fileContent => this.$emit("load", fileContent))
				.catch(err => {
					this.$emit("error", err instanceof Error ? err : new Error(err))
				})
				.finally(() => this.uploading = false)
		},
		/**
		 * Fetches the zip file from the server.
		 * Returns a Promise.
		 * If the fetch is successful, the promise will resolve with the zip file as a Blob.
		 * If the fetch encounters an error, the promise will reject with an Error.
		 */
		fetchZipBlob: function () {
			return fetch(this.filePath)
				.then(response => {
					if (!response.ok) // Fetch does not throw an error on HTTP error codes but instead sets ok to false
						throw new Error(`Fetch error: ${response.statusText}`) // Therefore we manually throw in case of an error

					return response.blob() // This returns a promise with the response content as resolution
				})
		},
	},
}
</script>

<style scoped lang="scss">
@import "bootstrap/scss/bootstrap";

a {
	/*color: #2196F3;*/
	margin-left: 0.5em;
}

.loading-spinner {
	@extend .spinner-border;
	margin-left: 0.5em;
	vertical-align: middle;
}
</style>
