<template>
<div>
	<svg ref="graph" :width="width" :height="height"></svg>
</div>
</template>

<script>
import * as d3 from "d3"

export default {
	name: "DistributionBoxPlot",
	props: {
		data: {
			type: Array,
			required: true,
		},
		xMin: {
			type: Number,
			default: 1,
		},
		width: {
			type: Number,
			default: 500,
		},
		height: {
			type: Number,
			default: 300,
		},
		margin: {
			type: Object,
			default: () => ({
				top: 20,
				bottom: 20,
				left: 40,
				right: 20,
			}),
		},
		strokeColor: {
			type: String,
			default: "steelblue",
		},
		medianLineStrokeColor: {
			type: String,
			default: "red",
		},
		strokeWidth: {
			type: Number,
			default: 2,
		},
		circleRadius: {
			type: Number,
			default: 5,
		},
	},
	data() {
		return {
			xScale: null,
			xAxis: null,
			box: null,
			medianLine: null,
			leftWhisker: null,
			rightWhisker: null,
			outliers: null,
			text: null,
			zoom: null,
		}
	},
	computed: {
		sortedData: function () {
			return this.data.concat().sort((a, b) => a - b)
		},
		quantile25: function () {
			return d3.quantile(this.sortedData, 0.25)
		},
		median: function () {
			return d3.quantile(this.sortedData, 0.5)
		},
		quantile75: function () {
			return d3.quantile(this.sortedData, 0.75)
		},
		iqr: function () { // InterQuartile Range, distance between upper and lower quartile
			return this.quantile75 - this.quantile25
		},
		// From wikipedia (https://en.wikipedia.org/wiki/Box_plot):
		// From above the upper quartile, a distance of 1.5 times the IQR is measured out and a whisker is drawn up to the largest observed point
		// from the dataset that falls within this distance.
		// Similarly, a distance of 1.5 times the IQR is measured out below the lower quartile and a whisker is drawn up to the lower observed
		// point from the dataset that falls within this distance. All other observed points are plotted as outliers.
		upperOutlierLimit: function () {
			return d3.max(this.data.filter(d => d < this.quantile75 + 1.5 * this.iqr))
		},
		lowerOutlierLimit: function () {
			return d3.min(this.data.filter(d => d > this.quantile25 - 1.5 * this.iqr))
		},
	},
	methods: {
		plot: function() {
			const svg = d3.select(this.$refs.graph)

			// Transition used for all elements
			const transition = d3.transition().duration(750)

			this.xScale = d3.scaleLinear()
				.domain([this.xMin, d3.max(this.data)])
				.range([this.margin.left, this.width - this.margin.right])

			// Axis
			if (!this.xAxis)
				this.xAxis = svg.append("g")
			this.xAxis
				.attr("transform", "translate(0," + (this.height - this.margin.bottom) + ")")
				.transition(transition)
				.call(d3.axisBottom(this.xScale))

			// The box
			if (!this.box)
				this.box = svg.append("rect")
			this.box
				.attr("stroke", this.strokeColor)
				.attr("stroke-width", this.strokeWidth)
				.attr("fill", "none")
				.attr("y", this.height * 0.25)
				.attr("height", this.height * 0.5)
				.attr("x", this.margin.left)
				.attr("width", 0)
				.transition(transition)
				.attr("x", this.xScale(this.quantile25))
				.attr("width", this.xScale(this.quantile75) - this.xScale(this.quantile25))

			// The median line
			if (!this.medianLine)
				this.medianLine = svg.append("line")
			this.medianLine
				.attr("stroke", this.medianLineStrokeColor)
				.attr("stroke-width", this.strokeWidth)
				.attr("stroke-dasharray", 2)
				.attr("y1", this.height * 0.25)
				.attr("y2", this.height * 0.75)
				.attr("x1", this.margin.left)
				.attr("x2", this.margin.left)
				.transition(transition)
				.attr("x1", this.xScale(this.median))
				.attr("x2", this.xScale(this.median))

			// Lines to limits
			if (!this.leftWhisker)
				this.leftWhisker = svg.append("line")
			this.leftWhisker
				.attr("stroke", this.strokeColor)
				.attr("stroke-width", this.strokeWidth)
				.attr("y1", this.height / 2)
				.attr("y2", this.height / 2)
				.attr("x1", this.margin.left)
				.attr("x2", this.margin.left)
				.transition(transition)
				.attr("x1", this.xScale(this.lowerOutlierLimit))
				.attr("x2", this.xScale(this.quantile25))

			if (!this.rightWhisker)
				this.rightWhisker = svg.append("line")
			this.rightWhisker
				.attr("stroke", this.strokeColor)
				.attr("stroke-width", this.strokeWidth)
				.attr("y1", this.height / 2)
				.attr("y2", this.height / 2)
				.attr("x1", this.margin.left)
				.attr("x2", this.margin.left)
				.transition(transition)
				.attr("x1", this.xScale(this.quantile75))
				.attr("x2", this.xScale(this.upperOutlierLimit))

			// Points outside limits
			if (!this.outliers)
				this.outliers = svg.append("g")
			this.outliers
				.selectAll("circle")
				.data(this.data.filter(d => d < this.lowerOutlierLimit || d > this.upperOutlierLimit))
				.join("circle")
				.attr("fill", this.strokeColor)
				.attr("fill-opacity", 0.3)
				.attr("r", this.circleRadius)
				.attr("cy", this.height / 2)
				.attr("cx", this.margin.left)
				.transition(transition)
				.attr("cx", d => this.xScale(d))

			// Text
			if (!this.text)
				this.text = svg.append("text")
			this.text.selectAll("tspan").remove()
			this.text.append("tspan")
				.attr("x", this.width * 0.25)
				.attr("y", this.height * 0.85)
				.text(`25%: ${this.quantile25}, Median: ${this.median}, 75%: ${this.quantile75}`)
			this.text.append("tspan")
				.attr("x", this.width * 0.25)
				.attr("y", this.height * 0.85)
				.attr("dy", "1.2em")
				.text(`Min: ${d3.min(this.data)}, Max: ${d3.max(this.data)}`)

			// Zoom behaviour
			this.zoom = d3.zoom()
				.scaleExtent([1, 20])
				.on("zoom", event => {
					const newXScale = event.transform.rescaleX(this.xScale)
					this.xAxis
						.call(d3.axisBottom(newXScale))
					this.box
						.attr("x", newXScale(this.quantile25))
						.attr("width", newXScale(this.quantile75) - newXScale(this.quantile25))
					this.medianLine
						.attr("x1", newXScale(this.median))
						.attr("x2", newXScale(this.median))
					this.leftWhisker
						.attr("x1", newXScale(this.lowerOutlierLimit))
						.attr("x2", newXScale(this.quantile25))
					this.rightWhisker
						.attr("x1", newXScale(this.quantile75))
						.attr("x2", newXScale(this.upperOutlierLimit))
					this.outliers.selectAll("circle")
						.attr("cx", d => newXScale(d))
				})
			svg.call(this.zoom)
		},
	},
	watch: {
		data() {
			if (this.zoom) // When data change, we reset the zoom before plotting the new data
				d3.select(this.$refs.graph).call(this.zoom.transform, d3.zoomIdentity)
			this.plot()
		},
	},
	mounted() {
		this.plot()
	},
}
</script>

<style scoped>

</style>
