<template>
<div>
	<div id="toggle">
		<label :for="switchID">Toggle box plot</label>
		<div class="switch" @click="boxPlot = !boxPlot">
			<input :id="switchID" type="checkbox" v-model="boxPlot">
			<span class="slider round"></span>
		</div>
	</div>
	<distribution-box-plot
			v-if="boxPlot"
			:data="data"
			:x-min="xMin"
			:width="width"
			:height="height"
			:margin="margin"
			:stroke-color="primaryColor"
			:median-line-stroke-color="medianColor">
	</distribution-box-plot>
	<distribution-bar-chart
			v-if="!boxPlot"
			:data="data"
			:x-min="xMin"
			:width="width"
			:height="height"
			:margin="margin"
			:bar-color="primaryColor"
			:median-line-color="medianColor">
	</distribution-bar-chart>
</div>
</template>

<script>
import DistributionBoxPlot from "@/components/DistributionBoxPlot.vue"
import DistributionBarChart from "@/components/DistributionBarChart.vue"
let uid = 0
export default {
	name: "DistributionPlot",
	components: {DistributionBarChart, DistributionBoxPlot},
	props: {
		data: {
			type: Array,
			required: true,
		},
		xMin: {
			type: Number,
			default: 1,
		},
		width: {
			type: Number,
			default: 500,
		},
		height: {
			type: Number,
			default: 300,
		},
		margin: {
			type: Object,
			default: () => ({
				top: 20,
				bottom: 20,
				left: 40,
				right: 20,
			}),
		},
		primaryColor: {
			type: String,
			default: "steelblue",
		},
		medianColor: {
			type: String,
			default: "red",
		},
	},
	beforeCreate() {
		this.uid = uid.toString()
		uid += 1
	},
	data() {
		return {
			boxPlot: false,
		}
	},
	computed: {
		switchID: function () {
			return `DistributionPlot.switch.${this.uid}`
		},
	},
}
</script>

<style scoped lang="scss">
@import "../assets/ToggleButton.css";

#toggle{
	.switch{
		transform: scale(0.7);
	}

	>label,>div {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0.5em;
	}
}


</style>
