<template>
<div class="block" :style="{borderColor: color}">
	<h1 :style="{color: color}" @click="visible = !visible">
		{{visible ? "&blacktriangledown;" : "&blacktriangleright;"}} {{title}}
	</h1>
	<transition name="fade">
		<div class="content" v-show="visible">
			<slot></slot>
		</div>
	</transition>
</div>
</template>

<script>
export default {
	name: "FadingContentBlock",
	props: {
		title: {
			type: String,
			required: true,
		},
		color: {
			type: String,
			default: "#29610c",
		},
		initiallyVisible: {
			type: Boolean,
			default: false,
		},
	},
	data() {
		return {
			visible: this.initiallyVisible,
		}
	},
	methods: {
		setVisible: function(visible) {
			this.visible = visible
		},
		show: function () {
			this.setVisible(true)
		},
		hide: function () {
			this.setVisible(false)
		},
		getVisible: function () {
			return this.visible
		},
	},
}
</script>

<style scoped lang="scss">
@import "bootstrap/scss/bootstrap";

$v-padding: 10px;
$h-padding: 10px;

.block {
	border-style: solid;
	border-width: 1px;
	@extend .rounded;
	margin: 1em 0;
	padding: $v-padding $h-padding;

	.fade-enter-active, .fade-leave-active {
		transition: all .3s;
	}

	.fade-enter, .fade-leave-to {
		opacity: 0;
	}
}
</style>
