<template>
<div>
	<section>
		<div id="description-lengths">
			<h1>Description lengths</h1>
			<table>
				<tbody>
				<tr>
					<td>Code table</td>
					<td>{{codeTableDL}}</td>
				</tr>
				<tr>
					<td>Encoded data</td>
					<td>{{dataDL}}</td>
				</tr>
				<tr>
					<td>Total</td>
					<td>{{totalDL}}</td>
				</tr>
				<tr v-if="differenceBetweenTotalDLAndSumOfPartials > 0.001" class="sum-problem">
					<td colspan="2">
						The total description length differs from the sum of the two partial by
						{{differenceBetweenTotalDLAndSumOfPartials > 1 ? differenceBetweenTotalDLAndSumOfPartials.toPrecision(2) : differenceBetweenTotalDLAndSumOfPartials.toPrecision(1)}}!
						<br>
						There may be a rounding error in this display.
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<p id="counts">
			The code table contains <strong>{{nbPatterns}} patterns</strong>, of which <em>{{singletons.length}}
			singletons</em> and <em>{{nonSingletons.length}} non-singletons</em>.<br/>
			There are <em>{{nbEmbeddings}} pattern embeddings</em> and <em>{{nbPorts}} ports</em> in the
			rewritten graph.<br/>
			There are <em>{{totalSingletonUsage}} singleton occurrences</em> and <em>{{totalNonSingletonUsage}}
			non-singleton occurrences</em> in total.
		</p>
	</section>
	<section>
		<div id="togglePlotWithSingletons">
			<label for="togglePlotWithSingletonsSwitch">Include singletons in plots</label>
			<div class="switch" @click="plotWithSingletons = !plotWithSingletons">
				<input id="togglePlotWithSingletonsSwitch" type="checkbox" v-model="plotWithSingletons">
				<span class="slider round"></span>
			</div>
		</div>
		<div class="plot">
			<h1>Pattern usage ({{plotWithSingletons ? 'with' : 'no'}} singletons)</h1>
			<distribution-plot :data="this.dataToPlot.map(p => p.usage)" :width="480"></distribution-plot>
		</div>
		<div class="plot">
			<h1>Pattern vertex count ({{plotWithSingletons ? 'with' : 'no'}} singletons)</h1>
			<distribution-plot :data="dataToPlot.map(vertexCount)" :width="480"></distribution-plot>
		</div>
		<div class="plot">
			<h1>Pattern edge count ({{plotWithSingletons ? 'with' : 'no'}} singletons)</h1>
			<distribution-plot :data="dataToPlot.map(edgeCount)" :width="480" :x-min="0"></distribution-plot>
		</div>
		<div class="plot">
			<h1>Pattern label count ({{plotWithSingletons ? 'with' : 'no'}} singletons)</h1>
			<distribution-plot :data="dataToPlot.map(labelCount)" :width="480" :x-min="1"></distribution-plot>
		</div>
		<div class="plot">
			<h1>Ports per pattern ({{ plotWithSingletons ? 'with' : 'no' }} singletons)</h1>
			<distribution-plot :data="dataToPlot.map(portCount)"></distribution-plot>
		</div>
	</section>
</div>
</template>

<script>
import DistributionPlot from "@/components/DistributionPlot.vue"
import PatternUtils from "@/PatternUtils"

export default {
	name: "MainStatistics",
	components: {DistributionPlot},
	props: {
		json: {
			type: Object,
			required: true,
		},
	},
	data() {
		return {
			plotWithSingletons: false,
		}
	},
	computed: {
		descriptionLengths: function () {
			return this.json["description_lengths"]
		},
		codeTableDL: function () {
			return this.descriptionLengths["model"].toFixed(3)
		},
		dataDL: function () {
			return this.descriptionLengths["data"].toFixed(3)
		},
		totalDL: function () {
			return this.descriptionLengths["total"].toFixed(3)
		},
		differenceBetweenTotalDLAndSumOfPartials: function () {
			return Math.abs(this.totalDL - this.codeTableDL - this.dataDL)
		},
		singletons: function() {
			return this.json["patterns"].filter(p => p["singleton"])
		},
		nonSingletons: function() {
			return this.json["patterns"].filter(p => p["singleton"] === false)
		},
		dataToPlot: function() {
			return this.plotWithSingletons ? this.json["patterns"] : this.nonSingletons
		},
		nbPatterns: function() {
			return this.json["patterns"].length
		},
		nbEmbeddings: function() {
			return this.json["patterns"].map(p => p["used_embeddings"].length).reduce((acc, val) => acc + val)
		},
		nbPorts: function() {
			return new Set(this.json["patterns"]
				.flatMap(p => p["used_embeddings"])
				.flatMap(emb => Object.values(emb["ports"]))).size
		},
		totalSingletonUsage: function() {
			return this.singletons
				.map(p => p["used_embeddings"].length)
				.reduce((acc, v) => acc + v, 0)
		},
		totalNonSingletonUsage: function() {
			return this.nonSingletons
				.map(p => p["used_embeddings"].length)
				.reduce((acc, v) => acc + v, 0)
		},
	},
	methods: {
		vertexCount: PatternUtils.vertexCount,
		edgeCount: PatternUtils.edgeCount,
		labelCount: PatternUtils.labelCount,
		portCount: PatternUtils.portCount,
	},
}
</script>

<style scoped lang="scss">
@import "bootstrap/scss/bootstrap";
@import "../assets/ToggleButton.css";

section {
	@extend .row;
	margin-bottom: 2em;

	#description-lengths {
		@extend .col-md-6;
		h1 {
			@extend .h4;
		}

		table {
			@extend .table;
			@extend .table-hover;
			@extend .table-bordered;
			max-width: 600px;

			td:nth-child(2){
				text-align: right;
			}
			tr.sum-problem td {
				color: $danger;
				font-style: italic;
				text-align: center;
			}
		}
	}

	#counts {
		@extend .col-md-6;
		font-size: 1.2em;
		line-height: 2;

		strong {
			color: $success;
			font-weight: bold;
		}

		em {
			color: $info;
			font-style: italic;
		}
	}

	#togglePlotWithSingletons {
		width: 100%;
		text-align: center;
		margin-bottom: 2em;

		> label, > div {
			margin: 0 0.5em;
			vertical-align: middle;
		}
	}

	.plot {
		@extend .col-12;
		@extend .col-lg-6;
		text-align: center;
		margin-bottom: 2em;
	}
}







</style>
