<template>
<div>
	<section class="messages">
		<div v-for="(message, index) in messages" :key="message.content" class="alert alert-dismissible" :class="[secondaryAlertClassFromType(message.type)]">
			{{message.content}}
			<button type="button" class="btn-close" @click="messages.splice(index, 1)"></button>
		</div>
	</section>
</div>
</template>

<script>
export const MessageType = Object.freeze({INFO: 0, SUCCESS: 1, WARN: 2, ERROR: 3})

export default {
	name: "MessageComponent",
	data() {
		return {
			messages: [],
		}
	},
	methods: {
		log: function (message, type) {
			this.messages.push({content: message, type: type})
		},
		info: function (message) {
			this.log(message, MessageType.INFO)
		},
		success: function (message) {
			this.log(message, MessageType.SUCCESS)
		},
		warn: function(message) {
			this.log(message, MessageType.WARN)
		},
		error: function(message) {
			this.log(message, MessageType.ERROR)
		},
		err: function(message) {
			this.error(message)
		},
		clear: function() {
			this.messages = []
		},
		secondaryAlertClassFromType: function(type) {
			switch (type) {
			case MessageType.INFO:
				return "alert-info"
			case MessageType.SUCCESS:
				return "alert-success"
			case MessageType.WARN:
				return "alert-warning"
			case MessageType.ERROR:
				return "alert-danger"
			}
		},
	},
}
</script>

<style scoped lang="scss">
.messages {
	$v-margin: 0.5em;
	margin-top: $v-margin;
	margin-bottom: $v-margin;
}

.alert {
	max-width: 95%;
	margin: auto;
}
</style>
