<template>
<div>
	<form @submit.prevent="" id="patternTableFilterForm">
		<div id="patternNumber">
			<label for="patternTableFilter.numberFilter">Filter by pattern number:</label>
			<input type="text" v-model="patternFilters.patternNumber.value" placeholder="No filter" id="patternTableFilter.numberFilter">
			<div class="checkbox-input">
				<input type="checkbox" v-model="patternFilters.patternNumber.exactMatch" id="patternTableFilter.numberFilter.exactMatch">
				<label for="patternTableFilter.numberFilter.exactMatch">Exact match</label>
			</div>
		</div>
		<div id="labelFilter">
			<label for="patternTableFilter.labelFilter">Only show patterns with these labels (separate multiple labels with a space): </label>
			<input type="text" id="patternTableFilter.labelFilter" placeholder="No filter" v-model="patternFilters.label.value">
			<div class="checkbox-input">
				<input type="checkbox" v-model="patternFilters.label.caseSensitive" id="patternTableFilter.labelFilter.caseSensitive">
				<label for="patternTableFilter.labelFilter.caseSensitive">Case-sensitive</label>
			</div>
			<div class="checkbox-input">
				<input type="checkbox" v-model="patternFilters.label.exactMatch" id="patternTableFilter.labelFilter.exactMatch">
				<label for="patternTableFilter.labelFilter.exactMatch">Exact match</label>
			</div>
		</div>
		<div id="singleton">
			<div>
				<label for="patternTableFilter.singleton.nonSingletons">Non-singleton</label>
				<input type="radio" v-model="patternFilters.singleton.value" :value="false" id="patternTableFilter.singleton.nonSingletons">
			</div>
			<div>
				<label for="patternTableFilter.singleton.singletons">Singleton</label>
				<input type="radio" v-model="patternFilters.singleton.value" :value="true" id="patternTableFilter.singleton.singletons">
			</div>
			<div>
				<label for="patternTableFilter.singleton.both">Both</label>
				<input type="radio" v-model="patternFilters.singleton.value" :value="null" id="patternTableFilter.singleton.both">
			</div>
		</div>
	</form>
	<!-- v-if is needed with current version of smart-table TPagination otherwise a warning is thrown -->
	<VTPagination v-if="totalPages > 1" v-model:currentPage="currentPage" :total-pages="totalPages" :boundary-links="true" :max-page-links="15"></VTPagination>
	<VTable
			:data="localCopyOfPatterns"
			:page-size="20"
			v-model:currentPage = "currentPage"
			@totalPagesChanged="totalPages = $event"
			:filters="patternFilters"
			@stateChanged="onTableContentChanged($event)"
	>
		<template #head>
			<VTh sort-key="originalIndex" default-sort="asc">Name</VTh>
			<VTh sort-key="usage">Usage (code length)</VTh>
			<VTh :sort-key="totalEmbeddingsCount">
				Possible embeddings
				<help-tooltip>
					The number of possible embeddings that the pattern can have in the data.<br/>
					This differs from the usage, which is the number of embeddings actually used in the data encoding.<br/>
					Note: This count is agnostic of automorphisms, which could inflate it.
				</help-tooltip>
			</VTh>
			<VTh sort-key="singleton">Singleton?</VTh>
			<VTh :sort-key="vertexCount"># vertices</VTh>
			<VTh :sort-key="edgeCount"># edges</VTh>
			<VTh :sort-key="labelCount"># labels</VTh>
			<th @click="showStructureSummary = !showStructureSummary" class="labelSummaryHeader" :class="{hidden: !showStructureSummary}">Labels</th>
			<VTh :sort-key="portCount">Ports</VTh>
		</template>
		<template #body="{rows}">
			<tr v-for="pattern in rows" :key="pattern.id" @dblclick="$emit('pattern-selected', pattern.originalIndex)">
				<td>P{{pattern.originalIndex + 1}}</td>
				<td>{{pattern.usage}} ({{pattern["code_length"].toFixed(3)}})</td>
				<td>{{totalEmbeddingsCount(pattern)}}</td>
				<td>{{pattern.singleton ? "Singleton" : "Not singleton"}}</td>
				<td>{{vertexCount(pattern)}}</td>
				<td>{{edgeCount(pattern)}}</td>
				<td>{{labelCount(pattern)}}</td>
				<td>{{showStructureSummary ? structureSummary(pattern) : ""}}</td>
				<td @click="toggleShowPorts(pattern)">
					<span>{{portCount(pattern)}} <small>(click to {{pattern.showPorts ? "hide" : "show"}})</small></span>
					<ul v-if="pattern.showPorts">
						<li v-for="port of Object.keys(pattern.ports)" :key="port">
							Vertex {{port}}: usage {{pattern.ports[port].usage}} ({{pattern.ports[port].code_length.toFixed(3)}} bits)
						</li>
					</ul>
				</td>
			</tr>
		</template>
	</VTable>
	<!-- v-if is needed with current version of smart-table TPagination otherwise a warning is thrown -->
	<VTPagination v-if="totalPages > 1" v-model:currentPage="currentPage" :total-pages="totalPages" :boundary-links="true" :max-page-links="15"></VTPagination>
</div>
</template>

<script>
import PatternUtils from "@/PatternUtils"
import HelpTooltip from "@/components/HelpTooltip/HelpTooltip.vue"

export default {
	name: "PatternTable",
	components: {HelpTooltip},
	props: {
		patterns: {
			type: Array,
			required: true,
		},
	},
	data() {
		return {
			currentPage: 1,
			totalPages: 0,
			showStructureSummary: true,
			patternFilters: {
				patternNumber: {
					value: "",
					custom: this.patternNumberFilter,
					exactMatch: true,
				},
				label: {
					value: "",
					custom: this.patternLabelFilter,
					caseSensitive: false,
					exactMatch: false,
				},
				singleton: {
					value: null,
					custom: this.singletonFilter,
				},
			},
		}
	},
	computed: {
		localCopyOfPatterns: function () { // A copy of the patterns prop, with added information that we need
			return this.patterns
				.map(p => Object.assign({}, p)) // Shallow-copy of the objects (so that original objects are not modified by the next step)
				.map((p, i) => Object.assign(p, {originalIndex: i, showPorts: false})) // Add information needed for the table
		},
	},
	methods: {
		vertexCount: PatternUtils.vertexCount,
		edgeCount: PatternUtils.edgeCount,
		labelCount: PatternUtils.labelCount,
		portCount: PatternUtils.portCount,
		totalEmbeddingsCount: PatternUtils.totalEmbeddingsCount,
		structureSummary: function(pattern) {
			// Counting occurrences of each vertex label
			let vertexLabelCounts = new Map()
			for (let vertexLabel of pattern["structure"]["vertices"].flat()) {
				if (vertexLabelCounts.has(vertexLabel))
					vertexLabelCounts.set(vertexLabel, vertexLabelCounts.get(vertexLabel) + 1)
				else
					vertexLabelCounts.set(vertexLabel, 1)
			}
			// Counting occurrences of each edge label
			let edgeLabelCounts = new Map()
			for (let edgeLabel of pattern["structure"]["edges"].map(e => e["label"])) {
				if (edgeLabelCounts.has(edgeLabel))
					edgeLabelCounts.set(edgeLabel, edgeLabelCounts.get(edgeLabel) + 1)
				else
					edgeLabelCounts.set(edgeLabel, 1)
			}
			return Array.from(vertexLabelCounts)
				.concat(Array.from(edgeLabelCounts))
				.map(count => count[0] + "(" + count[1] + ")")
				.join(", ")
		},
		toggleShowPorts: function (pattern) {
			pattern.showPorts = !pattern.showPorts
			this.$forceUpdate()
		},
		patternLabelFilter: function (filterValue, pattern) {
			let filterElements = filterValue.split(" ").filter(str => str.length > 0) // All values that the pattern must contain
			const vertexLabels = pattern["structure"]["vertices"].flat()
			const edgeLabels = pattern["structure"]["edges"].flatMap(e => e["label"])
			let patternLabels = vertexLabels.concat(edgeLabels)

			if (!this.patternFilters.label.caseSensitive) // If search must be case-insensitive
			{
				// We convert both the patterns and the labels to lowercase, to remove case mismatches
				filterElements = filterElements.map(el => el.toLowerCase())
				patternLabels = patternLabels.map(label => label.toLowerCase())
			}

			for (const filterElement of filterElements) {
				const matchingFunction = this.patternFilters.label.exactMatch ? label => label === filterElement : label => label.includes(filterElement)
				if (!patternLabels.some(matchingFunction)) // This pattern has no label that matches the element
					return false
			}
			return true
		},
		patternNumberFilter: function(filterValue, pattern) {
			if (filterValue.trim().length === 0) // If no filter is set
				return true

			const patternStringIndex = (pattern.originalIndex + 1).toString() // Note: displayed indices (i.e. the indices the user uses) start at 1, but index attribute starts at 0
			if (this.patternFilters.patternNumber.exactMatch)
				return patternStringIndex === filterValue
			else
				return patternStringIndex.includes(filterValue)
		},
		singletonFilter: function(filterValue, pattern) {
			if (filterValue === null)
				return true
			else
				return pattern.singleton === filterValue
		},
		onTableContentChanged: function(tableState) {
			this.$emit("table-patterns-changed", tableState.rowsPrePagination.map(p => p.originalIndex))
		},
	},
}
</script>

<style lang="scss" scoped>
@import "node_modules/bootstrap/scss/bootstrap";

#patternTableFilterForm {
	margin-bottom: 1em;

	.checkbox-input {
		@extend .form-check;
		@extend .form-check-inline;

		label {
			@extend .form-check-label;
		}

		input {
			@extend .form-check-input;
		}
	}

	// Since it uses the form-check-reverse class, it needs to be defined like this or it breaks
	#singleton {
		> div {
			@extend .form-check;
			@extend .form-check-inline;
			@extend .form-check-reverse;

			label {
				@extend .form-check-label;
			}

			input {
				@extend .form-check-input;
			}
		}
	}

	input[type=text] {
		@extend .form-control;
		max-width: 200px;
		display: inline-block;
		margin: 0.5em 1em;
	}
}

table {
	@extend .table;
	@extend .table-hover;
	@extend .table-bordered;

	.labelSummaryHeader.hidden {
		text-decoration-line: line-through;
	}
}

</style>
