<template>
<div class="pattern-color-chooser">
	<!--Table for choosing vertex colors-->
	<div class="color-table">
		<VTable
				:data="vertexLabelInfo"
				:page-size="10"
				v-model:currentPage="vertexColorTable.currentPage"
				@totalPagesChanged="vertexColorTable.totalPages = $event"
		>
			<template #head>
				<VTh sort-key="label">Vertex label</VTh>
				<VTh sort-key="occurrences" default-sort="desc">Occurrences in data</VTh>
				<th>Color</th>
			</template>
			<template #body="{rows}">
				<tr v-for="labelInfo in rows" :key="labelInfo.id">
					<td>{{labelInfo.label}}</td>
					<td>{{labelInfo.occurrences}}</td>
					<td class="color-column">
						<input type="color" :value="getVertexLabelColor(labelInfo.label)" @change="onVertexColorSelected(labelInfo.label, $event.target.value)">
					</td>
				</tr>
				<tr>
					<td colspan="2">No label</td>
					<td class="color-column">
						<input type="color" :value="getVertexLabelColor(noLabelLabel)" @change="onVertexColorSelected(noLabelLabel, $event.target.value)">
					</td>
				</tr>
			</template>
		</VTable>
		<button class="automatic-color" @click="automaticColorVertices()">Choose colors automatically</button>
		<button class="reset-color" @click="resetVertexColors()">Reset colors</button>
		<!-- v-if is needed with current version of smart-table TPagination otherwise a warning is thrown -->
		<VTPagination v-if="vertexColorTable.totalPages > 1" v-model:currentPage="vertexColorTable.currentPage" :total-pages="vertexColorTable.totalPages" :boundary-links="true" :max-page-links="5"></VTPagination>
	</div>
	<!--Table for choosing edge colors-->
	<div class="color-table">
		<VTable
				:data="edgeLabelInfo"
				:page-size="10"
				v-model:currentPage="edgeColorTable.currentPage"
				@totalPagesChanged="edgeColorTable.totalPages = $event"
		>
			<template #head>
				<VTh sort-key="label">Edge label</VTh>
				<VTh sort-key="occurrences" default-sort="desc">Occurrences in data</VTh>
				<th>Color</th>
			</template>
			<template #body="{rows}">
				<tr v-for="labelInfo in rows" :key="labelInfo.id">
					<td>{{labelInfo.label}}</td>
					<td>{{labelInfo.occurrences}}</td>
					<td class="color-column">
						<input type="color" :value="getEdgeLabelColor(labelInfo.label)" @change="onEdgeColorSelected(labelInfo.label, $event.target.value)">
					</td>
				</tr>
			</template>
		</VTable>
		<button class="automatic-color" @click="automaticColorEdges()">Choose colors automatically</button>
		<button class="reset-color" @click="resetEdgeColors()">Reset colors</button>
		<!-- v-if is needed with current version of smart-table TPagination otherwise a warning is thrown -->
		<VTPagination v-if="edgeColorTable.totalPages > 1" v-model:currentPage="edgeColorTable.currentPage" :total-pages="edgeColorTable.totalPages" :boundary-links="true" :max-page-links="5"></VTPagination>
	</div>
	<div class="color-export">
		<button type="button" @click="exportColors">Export colors</button>
		<help-tooltip>
			Export the current colors to a file. The generated file can later<br/>be uploaded if you wish to re-use the same colors.
		</help-tooltip>
		<!-- Invisible element that is used to trigger a download from javascript -->
		<a v-show="false" ref="downloadAnchor"></a>
	</div>
</div>
</template>

<script>
import * as d3 from "d3"
import HelpTooltip from "@/components/HelpTooltip/HelpTooltip.vue"
import GeneralUtils from "@/GeneralUtils"

const defaultVertexColor = "#000000"
const noLabelLabel = "No label" // Label value used to count vertices that have no labels
const defaultEdgeColor = "#999999"

export default {
	name: "PatternColorChooser",
	components: {HelpTooltip},
	props: {
		patterns: {
			type: Array,
			required: true,
		},
		vertexLabelColorMap: {
			type: Map,
			default: () => new Map(),
		},
		edgeLabelColorMap: {
			type: Map,
			default: () => new Map(),
		},
	},
	data() {
		return {
			vertexColorTable: {
				currentPage: 1,
				totalPages: 1,
			},
			edgeColorTable: {
				currentPage: 1,
				totalPages: 1,
			},
			noLabelLabel: noLabelLabel, // To expose the constant to the html template
		}
	},
	computed: {
		/**
		 * For each vertex label present in the data, the label and the number of times it appears in the data
		 */
		vertexLabelInfo: function() {
			// First we need to compute the labels of data vertices
			// Since this information is not directly present in the serialization, we need to parse pattern occurrences to retrieve it
			const dataVerticesLabels = new Map() // Set of labels of each of the data vertices
			for (let pattern of this.patterns) {
				const patternVerticesLabels = pattern["structure"]["vertices"] // Labels of each of the pattern's vertices
				const patternVertexCount = patternVerticesLabels.length

				for (let mapping of pattern["used_embeddings"].map(embedding => embedding["mapping"])) // We could parse the embeddings instead of the used embeddings, but we expect that there are less of the latter
				{
					// To which of the data vertices is each pattern vertex mapped to?
					for (let v = 0; v < patternVertexCount; ++v) {
						// The data vertex has at least all the labels that the corresponding pattern vertex has
						const dataVertexLabels = GeneralUtils.mapGetOrComputeIfAbsent(dataVerticesLabels, mapping[v], () => new Set())
						for (let label of patternVerticesLabels[v])
							dataVertexLabels.add(label)
					}
				}
			}

			// Now that we know the labels of each data vertex, we can count how many times each labels appear in the data
			const labelCounts = new Map()
			for (let dataVertexLabels of dataVerticesLabels.values()) {
				for (let label of dataVertexLabels.values()) {
					const labelCount = GeneralUtils.mapGetOrComputeIfAbsent(
						labelCounts,
						label,
						label => ({label: label, occurrences: 0}),
					)
					labelCount.occurrences += 1
				}
			}

			return Array.from(labelCounts.values())
		},
		/**
		 * For each edge label present in the data, the label and the number of times it appears in the data
		 */
		edgeLabelInfo: function() {
			// We could use the assumption that each data edge is described by one and only one pattern (i.e. no edge overlaps),
			// but we do not so that the approach is more general and also more similar to the vertex one

			// First we need to compute the labels associated to each data edge
			// Since this information is not directly present in the serialization, we need to parse pattern occurrences to retrieve it
			const labelsBetweenDataVertices = new Map() // Set of edge labels between each pair of data vertices (this way we transparently support multigraphs)
			for (let pattern of this.patterns) {
				const patternEdges = pattern["structure"]["edges"]
				for (let mapping of pattern["used_embeddings"].map(embedding => embedding["mapping"])) // We could parse the embeddings instead of the used embeddings, but we expect that there are less of the latter
				{
					for (let patternEdge of patternEdges) {
						const dataEndpoints = {
							source: mapping[patternEdge.source],
							target: mapping[patternEdge.target],
						}
						GeneralUtils.mapGetOrComputeIfAbsent(labelsBetweenDataVertices, dataEndpoints, () => new Set())
							.add(patternEdge.label)
					}
				}
			}

			// Now that we know the edge labels present in the data, we can count how many times each one appears
			const labelCounts = new Map()
			for (let labelSet of labelsBetweenDataVertices.values()) {
				for (let label of labelSet.values()) {
					const labelCount = GeneralUtils.mapGetOrComputeIfAbsent(
						labelCounts,
						label,
						label => ({label: label, occurrences: 0}),
					)
					labelCount.occurrences += 1
				}
			}
			return Array.from(labelCounts.values())
		},
	},
	methods: {
		/**
		 * @return The color associated to a specific vertex label
		 */
		getVertexLabelColor: function (vertexLabel) {
			return this.vertexLabelColorMap.has(vertexLabel) ? this.vertexLabelColorMap.get(vertexLabel) : defaultVertexColor
		},
		/**
		 * @return the color that an edge with the given list of labels should have
		 */
		getVertexColor: function (vertexLabels) {
			if (vertexLabels.length === 0) {
				return this.getVertexLabelColor(noLabelLabel)
			} else {
				let color = this.getVertexLabelColor(vertexLabels[0])
				for(let i = 1; i < vertexLabels.length; ++i) {
					color = d3.interpolateHsl(color, this.getVertexLabelColor(vertexLabels[i]))(0.5)
				}
				return color
			}
		},
		/**
		 * @return The color associated to a specific edge label
		 */
		getEdgeLabelColor: function (edgeLabel) {
			return this.edgeLabelColorMap.has(edgeLabel) ? this.edgeLabelColorMap.get(edgeLabel) : defaultEdgeColor
		},
		/**
		 * @returns The edge color associated to an edge with the given label
		 */
		getEdgeColor: function (edgeLabel) {
			return this.getEdgeLabelColor(edgeLabel)
		},
		onVertexColorSelected: function (vertexLabel, color) {
			this.vertexLabelColorMap.set(vertexLabel, color)
			this.$emit("vertex-color-update")
		},
		onEdgeColorSelected: function (edgeLabel, color) {
			this.edgeLabelColorMap.set(edgeLabel, color)
			this.$emit("edge-color-update")
		},
		automaticColorVertices: function () {
			const labelInfoInOccurrencesOrder = this.vertexLabelInfo.concat() // Creating copy of info
				.sort((info1, info2) => info2.occurrences - info1.occurrences) // Sorting so that more frequent labels are first
			for (let i = 0; i < 9 && i < labelInfoInOccurrencesOrder.length; ++i)
				this.vertexLabelColorMap.set(labelInfoInOccurrencesOrder[i].label, d3.schemeTableau10[i])
			this.$emit("vertex-color-update")
			this.forceRefreshColorTable(this.vertexColorTable)
		},
		automaticColorEdges: function () {
			const labelInfoInOccurrencesOrder = this.edgeLabelInfo.concat() // Creating copy of info
				.sort((info1, info2) => info2.occurrences - info1.occurrences) // Sorting so that more frequent labels are first
			for (let i = 0; i < 7 && i < labelInfoInOccurrencesOrder.length; ++i)
				this.edgeLabelColorMap.set(labelInfoInOccurrencesOrder[i].label, d3.schemeDark2[i])
			this.$emit("edge-color-update")
			this.forceRefreshColorTable(this.edgeColorTable)
		},
		resetVertexColors: function () {
			this.vertexLabelColorMap.clear()
			this.$emit("vertex-color-update")
			this.forceRefreshColorTable(this.vertexColorTable)
		},
		resetEdgeColors: function () {
			this.edgeLabelColorMap.clear()
			this.$emit("edge-color-update")
			this.forceRefreshColorTable(this.edgeColorTable)
		},
		// Force the refreshing of the content of a color table by changing page back and forth-->
		forceRefreshColorTable: function (colorTable) {
			colorTable.currentPage++
			colorTable.currentPage--
		},
		refreshColorTables: function () {
			this.forceRefreshColorTable(this.vertexColorTable)
			this.forceRefreshColorTable(this.edgeColorTable)
		},
		exportColors: function () {
			// Creating the JSON object containing the color information
			let colorInfo = {
				vertices: {},
				edges: {},
			}
			for (let [label, color] of this.vertexLabelColorMap.entries())
				colorInfo.vertices[label] = color
			for (let [label, color] of this.edgeLabelColorMap.entries())
				colorInfo.edges[label] = color

			// Downloading the JSON object
			// From https://stackoverflow.com/a/30800715
			// One comment suggests that there is a limit on the amount of data one can download using this method?
			const jsonString = JSON.stringify(colorInfo, null, "\t")
			this.$refs.downloadAnchor.setAttribute("href", "data:text/json;charset=utf-8," + encodeURIComponent(jsonString))
			this.$refs.downloadAnchor.setAttribute("download", "colors.json")
			this.$refs.downloadAnchor.click()
		},
	},
}
</script>

<style scoped lang="scss">
@import "bootstrap/scss/bootstrap";

.color-table{
	// On large screens we display the tables side by side
	@include media-breakpoint-up(lg) {
		display: inline-block;
		width: 45%;
		vertical-align: top;
		margin-right: 5%;
	}
}

table {
	@extend .table;
	@extend .table-bordered;
	@extend .table-hover;

	thead th {
		vertical-align: middle;
	}

	.color-column {
		text-align: center;
		width: 80px;

		input[type="color"] {
			border: none;
			background: none;
		}
	}
}

.automatic-color {
	@extend .btn;
	@extend .btn-outline-info;

	margin: 1em 0;
}

.reset-color {
	@extend .btn;
	@extend .btn-outline-warning;

	margin-left: 0.5em;
}

.color-export{
	text-align: center;

	button {
		@extend .btn;
		@extend .btn-link;
	}
}

</style>
