<template>
<div>
	<form @submit.prevent="">
		<label>Pattern number (1 - {{patterns.length}})</label>
		<input type="number" min="1" :max="patterns.length" v-model="selectedPatternNumber">
		<div v-if="selectedPatternNumber && patternNumbersAsInTable && patternNumbersAsInTable.length > 0" class="prevNextButtons">
			<span>Move through patterns in the same order as in the pattern characteristics table:</span>
			<button
					class="previous"
					:disabled="prevPatternNumber === null"
					@click="selectedPatternNumber = prevPatternNumber"
					:title="indexOfSelectedPatternInTable === null ? 'Selected pattern is not in the current table view' : ''"
			><i class="bi bi-chevron-left"></i></button>
			<button
					class="next"
					:disabled="nextPatternNumber === null"
					@click="selectedPatternNumber = nextPatternNumber"
					:title="indexOfSelectedPatternInTable === null ? 'Selected pattern is not in the current table view' : ''"
			><i class="bi bi-chevron-right"></i></button>
		</div>
	</form>
	<div class="row" v-if="selectedPattern">
		<!--Plot of the graph-->
		<pattern-plot
				ref="graphVisualization"
				:pattern="selectedPattern"
				:graph-type="graphType"
				:vertex-color-from-labels="getVertexColor"
				:edge-color-from-label="getEdgeColor"
				:width="700"
				:height="700"
				class="graph-visualization"
		></pattern-plot>
		<pattern-color-chooser
				ref="colorChooser"
				:patterns="patterns"
				:vertex-label-color-map="vertexLabelsColors"
				:edge-label-color-map="edgeLabelsColors"
				@vertex-color-update="onVertexColorUpdate"
				@edge-color-update="onEdgeColorUpdate"
		></pattern-color-chooser>
	</div>
</div>
</template>

<script>
import PatternPlot from "@/components/PatternPlot.vue"
import PatternColorChooser from "@/components/PatternColorChooser.vue"
import {GraphType} from "@/GraphType"

export default {
	name: "PatternVisualization",
	components: {PatternColorChooser, PatternPlot},
	props: {
		patterns: {
			type: Array,
			required: true,
		},
		graphType: {
			default: GraphType.SIMPLE_UNDIRECTED,
		},
		vertexLabelsColors: {
			type: Map,
			default: () => new Map(),
		},
		edgeLabelsColors: {
			type: Map,
			default: () => new Map(),
		},
		patternNumbersAsInTable: {
			type: Array,
			default: null,
		},
	},
	data() {
		return {
			selectedPatternNumber: "",
		}
	},
	computed: {
		selectedPattern: function () {
			const patternNumber = Number.parseInt(this.selectedPatternNumber)
			if (!patternNumber)
				return null
			if (patternNumber < 1 || patternNumber > this.patterns.length)
				return null
			return this.patterns[patternNumber - 1]
		},
		indexOfSelectedPatternInTable: function () {
			if (!Number.parseInt(this.selectedPatternNumber) || !this.patternNumbersAsInTable)
				return null
			const indexOfSelectedPatternInTable = this.patternNumbersAsInTable.indexOf(this.selectedPatternNumber - 1) // Pattern numbers shown to the user are shifted by one to the actual numbers
			return indexOfSelectedPatternInTable === -1 ? null : indexOfSelectedPatternInTable
		},
		nextPatternNumber: function () {
			if (this.indexOfSelectedPatternInTable === null) // The selected pattern is not in the list of patterns shown in the table
				return null // It makes no sense to go to previous or next

			if (this.indexOfSelectedPatternInTable < this.patternNumbersAsInTable.length - 1) // Is there a next pattern in the table ?
				return this.patternNumbersAsInTable[this.indexOfSelectedPatternInTable + 1] + 1 // Numbers shown to the user are shifted by one w.r.t the actual indices
			else
				return null
		},
		prevPatternNumber: function () {
			if (this.indexOfSelectedPatternInTable === null) // The selected pattern is not in the list of patterns shown in the table
				return null // It makes no sense to go to previous or next

			if (this.indexOfSelectedPatternInTable > 0 ) // Is there a previous pattern in the table ?
				return this.patternNumbersAsInTable[this.indexOfSelectedPatternInTable - 1] + 1 // Numbers shown to the user are shifted by one w.r.t the actual indices
			else
				return null
		},
	},
	methods: {
		// Sets the visualized pattern. Takes a 0-based index of the pattern in the "patterns" prop.
		visualizePattern: function(patternIndex) {
			this.selectedPatternNumber = (+patternIndex + 1).toString()
		},
		getVertexColor: function (vertexLabels) {
			return this.$refs.colorChooser.getVertexColor(vertexLabels)
		},
		getEdgeColor: function (edgeLabel) {
			return this.$refs.colorChooser.getEdgeColor(edgeLabel)
		},
		onVertexColorUpdate: function () {
			this.$refs.graphVisualization.colorVertices()
			this.$emit("graph-color-changed")
		},
		onEdgeColorUpdate: function () {
			this.$refs.graphVisualization.colorEdges()
			this.$emit("graph-color-changed")
		},
		refreshColors: function () {
			if (this.$refs.graphVisualization && this.$refs.colorChooser) {
				this.$refs.graphVisualization.colorVertices()
				this.$refs.graphVisualization.colorEdges()
				this.$refs.colorChooser.refreshColorTables()
			}
		},
	},
}
</script>

<style scoped lang="scss">
@import "bootstrap/scss/bootstrap";

form {
	margin-top: 1em;
	margin-bottom: 1em;

	input {
		@extend .form-control;
		max-width: 200px;
		display: inline-block;
		margin-bottom: 0.3em;
		margin-left: 1em;
	}

	.prevNextButtons {
		margin-left: 1.5em;
		display: inline-block;

		span {
			font-style: italic;
			color: dimgray;
		}

		.previous, .next {
			@extend .btn;
			@extend .btn-sm;
			@extend .btn-outline-info;
			margin-left: 1em;
			&:hover {
				color: white;
			}
		}
	}

}

.graph-visualization {
	@extend .col-lg-6;
}

.pattern-color-chooser {
	@extend .col-lg-6;
}

</style>
