<template>
<div>
	<form @submit.prevent="" class="subsets-form">
		<label for="RewrittenGraphVisualization.dataSubsetSelect">Limit visualisation to only a subset of data
			vertices:</label>
		<select v-model="selectedDataSubset" id="RewrittenGraphVisualization.dataSubsetSelect">
			<option v-for="subset of dataSubsetsOptionList" :key="subset.name" :value="subset">{{subset.name}}</option>
		</select>
		<div v-if="selectedDataSubset">
			<button
				class="previous"
				:disabled="previousSubset === null"
				@click="selectedDataSubset = previousSubset"
			>
				<i class="bi bi-chevron-left"></i>
			</button>
			<button
				class="next"
				:disabled="nextSubset === null"
				@click="selectedDataSubset = nextSubset"
			>
				<i class="bi bi-chevron-right"></i>
			</button>
		</div>

		<label class="subset-by-pattern">Only show data subsets that contain the following patterns:</label>
		<input
			type="text"
			v-model="dataSubsetByPatternInputValue"
			class="subset-by-pattern"
			:class="{'is-invalid': patternNumbersInInputField instanceof Error}"
			:title="patternNumbersInInputField instanceof Error ? patternNumbersInInputField.message : null"
		>
	</form>

	<div class="subset-description" v-if="selectedDataSubsetDescription">
		{{selectedDataSubsetDescription}}
	</div>

	<div class="row" v-if="selectedDataSubset">
		<rewritten-graph-plot
			ref="graphPlot"
			:patterns="patterns"
			:graph-type="graphType"
			:data-vertex-filter="selectedDataSubsetAsFilter"
			:vertex-color-from-labels="getVertexColor"
			:edge-color-from-label="getEdgeColor"
			:width="700"
			:height="700"
			class="graph-plot"
			@pattern-selected="$emit('pattern-selected', $event)"
		>
		</rewritten-graph-plot>
		<pattern-color-chooser
				ref="colorChooser"
				:patterns="patterns"
				:vertex-label-color-map="vertexLabelsColors"
				:edge-label-color-map="edgeLabelsColors"
				@vertex-color-update="onVertexColorUpdate"
				@edge-color-update="onEdgeColorUpdate"
		>
		</pattern-color-chooser>
	</div>

</div>
</template>

<script>
import RewrittenGraphPlot from "@/components/RewrittenGraphPlot.vue"
import PatternColorChooser from "@/components/PatternColorChooser.vue"
import RewrittenGraphSubsetsUtils from "@/RewrittenGraphSubsetsUtils"
import {GraphType} from "@/GraphType"
import PatternUtils from "@/PatternUtils"

export default {
	name: "RewrittenGraphVisualization",
	components: {PatternColorChooser, RewrittenGraphPlot},
	props: {
		patterns: {
			type: Array,
			required: true,
		},
		graphType: {
			default: GraphType.SIMPLE_UNDIRECTED,
		},
		dataSubsets: {
			type: Array,
			default: Array,
		},
		vertexLabelsColors: {
			type: Map,
			default: () => new Map(),
		},
		edgeLabelsColors: {
			type: Map,
			default: () => new Map(),
		},
	},
	data: function () {
		return {
			selectedDataSubset: null,
			dataSubsetByPatternInputValue: "",
			Error: Error, // To make the class visible to the template in order to make instanceof statements
		}
	},
	computed: {
		/**
		 * The pattern numbers entered in the input field to show only some data subsets in the list.
		 * @return {Error|null|[Number]} null if field is empty, an Error if there were error parsing, or a list of numbers.
		 */
		patternNumbersInInputField: function() {
			const inputValueElements = this.dataSubsetByPatternInputValue.split(" ").filter(el => el.length > 0)
			if (inputValueElements.length === 0)
				return null
			let patternNumbers = []
			for (let element of inputValueElements) {
				const n = Number.parseInt(element, 10)
				if (Number.isNaN(n))
					return new Error(`Error when parsing '${element}' as number`)
				if (n < 1 || n > this.patterns.length) // User patterns go from 1 to nbPatterns
					return new Error(`Pattern ${n} does not exist`)
				patternNumbers.push(n)
			}
			return patternNumbers
		},
		dataSubsetsOptionList: function() {
			if (this.patternNumbersInInputField === null || this.patternNumbersInInputField instanceof Error)
				return this.dataSubsets.concat(RewrittenGraphSubsetsUtils.createAcceptAllSubsetObject())

			// For each pattern, the list of data vertices it uses
			let dataVerticesUsedBySelectedPatterns = this.patternNumbersInInputField
				.map(patternNumber => patternNumber - 1) // We start at 0, but the user starts at 1
				.map(patternNumber => PatternUtils.dataVerticesUsedByPattern(this.patterns[patternNumber]))
				.map(s => Array.from(s))
			// Only the subsets in which we can find occurrences of those patterns
			return this.dataSubsets
				.filter(subset => {
					const subsetAsFilterFunction = RewrittenGraphSubsetsUtils.subsetObjectToFilterFunction(subset)
					return dataVerticesUsedBySelectedPatterns.every(patternDataVertices => // Each pattern must match
						patternDataVertices.some(dataVertex => subsetAsFilterFunction(dataVertex)), // A pattern matches if at least one of its data vertices matches
					)

				})
				.concat(RewrittenGraphSubsetsUtils.createAcceptAllSubsetObject()) // We always add the possibility of visualizing all data
		},
		selectedDataSubsetDescription: function() {
			if (!this.selectedDataSubset)
				return null
			if (Object.prototype.hasOwnProperty.call(this.selectedDataSubset, "description"))
				return this.selectedDataSubset.description
			else
				return null
		},
		selectedDataSubsetAsFilter: function() {
			return RewrittenGraphSubsetsUtils.subsetObjectToFilterFunction(this.selectedDataSubset)
		},
		indexOfSelectedSubsetInOptionList: function() {
			if (!this.selectedDataSubset)
				return null
			const index = this.dataSubsetsOptionList.indexOf(this.selectedDataSubset)
			return index === -1 ? null : index
		},
		nextSubset: function() {
			if (this.indexOfSelectedSubsetInOptionList === null)
				return null
			if (this.indexOfSelectedSubsetInOptionList < this.dataSubsetsOptionList.length - 2) // We do not want to go to the last subset, which is the "all data" using this button.
				return this.dataSubsetsOptionList[this.indexOfSelectedSubsetInOptionList + 1]
			else
				return null
		},
		previousSubset: function() {
			if (this.indexOfSelectedSubsetInOptionList === null)
				return null
			if (this.indexOfSelectedSubsetInOptionList > 0)
				return this.dataSubsetsOptionList[this.indexOfSelectedSubsetInOptionList - 1]
			else
				return null
		},
	},
	methods: {
		getVertexColor: function (vertexLabels) {
			return this.$refs.colorChooser.getVertexColor(vertexLabels)
		},
		getEdgeColor: function (edgeLabel) {
			return this.$refs.colorChooser.getEdgeColor(edgeLabel)
		},
		onVertexColorUpdate: function () {
			this.$refs.graphPlot.colorVertices()
			this.$emit("graph-color-changed")
		},
		onEdgeColorUpdate: function () {
			this.$refs.graphPlot.colorEdges()
			this.$emit("graph-color-changed")
		},
		refreshColors: function() {
			if (this.$refs.graphPlot && this.$refs.colorChooser) { // The element must exist (i.e. they have been rendered at least once)
				this.$refs.graphPlot.colorVertices()
				this.$refs.graphPlot.colorEdges()
				this.$refs.colorChooser.refreshColorTables()
			}
		},
	},
}
</script>

<style scoped lang="scss">
@import "bootstrap/scss/bootstrap";

.subsets-form {
	margin-bottom: 1em;

	select {
		@extend .form-select;
		@extend .form-select-sm;
		width: auto;
		display: inline-block;
		margin-left: 1em;
	}

	select + div {
		display: inline-block;
		@extend .me-3;
	}

	label.subset-by-pattern {
		@extend .ms-3;
	}

	input.subset-by-pattern {
		@extend .form-control;
		max-width: 200px;
		display: inline-block;
		@extend .ms-1;
	}

	.previous, .next {
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-outline-info;
		margin-left: 1em;
		&:hover {
			color: white;
		}
	}
}

.subset-description {
	margin: 1em 0 2em;
	@extend .blockquote;
}

.graph-plot {
	@extend .col-lg-6;
}

.pattern-color-chooser {
	@extend .col-lg-6;
}

</style>
