<!--
	Usage: <help-tooltip>My tooltip text<br/>Line-breaks must be explicit</help-tooltip>
-->
<template>
<span class="parent">
	<span class="hoverable">
		?
	</span>
	<div class="help-text">
		<slot></slot>
	</div>
</span>
</template>

<script>
export default {
	name: "HelpTooltip",
}
</script>

<style scoped lang="scss">
@import "bootstrap/scss/bootstrap";

.parent {
	position: relative; // Allows to position the help tooltip using absolute positioning
}

.hoverable {
	// From https://stackoverflow.com/a/54827499
	display: inline-block;
	font-family: sans-serif;
	text-align: center;
	font-size: 0.8em;
	line-height: 0.8em;
	border-radius: 50%;
	margin-left: 6px;
	padding: 0.13em 0.2em 0.09em 0.2em;
	border: 1px solid;
	text-decoration: none;
	transform: translateY(-20%);
}

.help-text {
	display: none;
}

.hoverable:hover + .help-text, .help-text:hover {
	// Make the tooltip appear on top of the hoverable
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	white-space: nowrap; // Disable automatic text wrap. Without this option the tooltip looks awful.
	transform: translateX(-50%) translateY(-90%); // 90% vertical translate allows moving the cursors from the hoverable to the tooltip easily
	z-index: 1;

	// Appearance
	background-color: $secondary;
	color: white;
	border: solid black 1px;
	border-radius: 7px;
	padding: 0.5em;
	text-align: center;
}

</style>
