<template>
<div id="app" class="container-fluid">
	<h1>GraphMDL Visualizer</h1>
	<section class="introduction">
		<p>
			GraphMDL Visualizer is a tool for visualizing the results of the <a href="https://gitlab.inria.fr/fbariatt/graphmdl">GraphMDL, GraphMDL+ and KG-MDL approaches</a> in an interactive web page to help their analysis by a human.
		</p>
		<p>
			The source code of this tool is available as a <a href="https://gitlab.inria.fr/fbariatt/graphmdl-visualizer">git repository.</a>
		</p>
	</section>

	<file-uploader
		v-on:graphmdl-file-upload="onGraphMDLFileUploaded"
		v-on:subsets-file-upload="rewrittenGraphDataSubsets = $event"
		v-on:colors-file-upload="onColorFileUpload($event)"
	></file-uploader>
	<message-component ref="messageComponent"></message-component>
	<fading-content-block title="Main statistics" v-if="json" :initially-visible="false">
		<main-statistics :json="json"></main-statistics>
	</fading-content-block>
	<fading-content-block v-if="patterns" :initially-visible="false" title="Pattern characteristics" color="#0c5460">
		<pattern-table
			:patterns="patterns"
			v-on:pattern-selected="onPatternSelected($event)"
			v-on:table-patterns-changed="patternNumbersAsInTable = $event"
		></pattern-table>
	</fading-content-block>
	<fading-content-block v-if="patterns" title="Pattern visualization" :initially-visible="false" ref="patternVisualizationBlock">
		<pattern-visualization
				ref="patternVisualization"
				:patterns="patterns"
				:graph-type="graphType"
				:vertex-labels-colors="vertexLabelsColors"
				:edge-labels-colors="edgeLabelsColors"
				:pattern-numbers-as-in-table="patternNumbersAsInTable"
				@graph-color-changed="onGraphColorChange('pattern')"
		></pattern-visualization>
	</fading-content-block>
	<fading-content-block v-if="patterns" :initially-visible="false" title="Rewritten graph" color="#0c5460">
		<rewritten-graph-visualization
				ref="rewrittenGraphVisualization"
				:patterns="patterns"
				:graph-type="graphType"
				:dataSubsets="rewrittenGraphDataSubsets ? rewrittenGraphDataSubsets : []"
				:vertex-labels-colors="vertexLabelsColors"
				:edge-labels-colors="edgeLabelsColors"
				@graph-color-changed="onGraphColorChange('rewritten')"
				@pattern-selected="onPatternSelected($event)"
		></rewritten-graph-visualization>
	</fading-content-block>
</div>
</template>

<script>
import * as d3 from "d3"
import FileUploader from "@/components/FileUploader/FileUploader.vue"
import MainStatistics from "@/components/MainStatistics.vue"
import PatternTable from "@/components/PatternTable.vue"
import PatternVisualization from "@/components/PatternVisualization.vue"
import FadingContentBlock from "@/components/FadingContentBlock.vue"
import RewrittenGraphVisualization from "@/components/RewrittenGraphVisualization.vue"
import MessageComponent from "@/components/MessageComponent.vue"
import {GraphType} from "./GraphType"

export default {
	name: "App",
	components: {
		MessageComponent,
		RewrittenGraphVisualization,
		PatternVisualization,
		PatternTable,
		MainStatistics,
		FileUploader,
		FadingContentBlock,
	},
	data() {
		return {
			json: null,
			graphType: null,
			rewrittenGraphDataSubsets: null,
			vertexLabelsColors: new Map(),
			edgeLabelsColors: new Map(),
			patternNumbersAsInTable: null,
		}
	},
	computed: {
		patterns: function () {
			return this.json == null ? null : this.json["patterns"]
		},
	},
	methods: {
		onGraphMDLFileUploaded: function(serialization) {
			this.$refs.messageComponent.clear()

			// The uploader emits the event with value null when the reset fields button is pressed.
			if (serialization === null) {
				this.json = null
				this.graphType = null
				return
			}

			if ("kind" in serialization) {
				try {
					this.graphType = GraphType.fromString(serialization["kind"])
				} catch (e) {
					this.$refs.messageComponent.error(`Error when parsing graph type from 'kind' attribute of serialization, defaulting to simple undirected. ${e}`)
					this.graphType = GraphType.SIMPLE_UNDIRECTED
				}
			} else {
				this.$refs.messageComponent.info("Serialization does not specify graph type ('kind' attribute). Assuming simple undirected graphs.")
				this.graphType = GraphType.SIMPLE_UNDIRECTED
			}

			this.json = serialization
		},
		onPatternSelected: function(patternIndex) {
			this.$refs.patternVisualization.visualizePattern(patternIndex)
			let elementToScrollTo = this.$refs.patternVisualization.$el
			if (!this.$refs.patternVisualizationBlock.getVisible()) // If the patterns are not currently visible
			{
				this.$refs.patternVisualizationBlock.show() // We make them visible
				elementToScrollTo = this.$refs.patternVisualizationBlock.$el // We scroll to the block instead, in case the child element has not yet had time to render
			}
			elementToScrollTo.scrollIntoView({behavior: "smooth"})
		},
		onGraphColorChange: function (origin) {
			if (origin === "rewritten" && this.$refs.patternVisualization)
				this.$refs.patternVisualization.refreshColors()
			else if (this.$refs.rewrittenGraphVisualization)
				this.$refs.rewrittenGraphVisualization.refreshColors()
		},
		onColorFileUpload: function (colors) {
			if (colors === null) // This event is emitted when the reset button is pressed
				return

			// Parsing vertex colors
			if (Object.hasOwnProperty.call(colors, "vertices")){
				const vertexColors = colors.vertices
				this.vertexLabelsColors.clear()
				Object.keys(vertexColors).forEach(label =>
					this.vertexLabelsColors.set(label, d3.color(vertexColors[label]).formatHex()),
				)
			}

			// Parsing edge colors
			if (Object.hasOwnProperty.call(colors, "edges")){
				const edgeColors = colors.edges
				this.edgeLabelsColors.clear()
				Object.keys(edgeColors).forEach(label =>
					this.edgeLabelsColors.set(label, d3.color(edgeColors[label]).formatHex()),
				)
			}

			// Telling the visualisations that the colors have changed
			if (this.$refs.patternVisualization)
				this.$refs.patternVisualization.refreshColors()
			if (this.$refs.rewrittenGraphVisualization)
				this.$refs.rewrittenGraphVisualization.refreshColors()
		},
	},
}
</script>

<style lang="scss">
@import "bootstrap/scss/bootstrap";

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-top: 60px;
}

.pagination {
	@extend .justify-content-center;
}

</style>

<style lang="scss" scoped>
@import "bootstrap/scss/bootstrap";

h1 {
	@extend .display-1;
	text-align: center;
}

.introduction{
	text-align: center;
	@extend .lead;
	margin-top: 3em;
	margin-bottom: 2em;
}
</style>
